	
	<div class="row">
	  <div class="col-md-7 col-xs-12">

			<!-- <a href="caretaker.html"> -->
				<img src="{{caretaker.credentials.avatar}}" class="avatar" />
				<h3>{{caretaker.name}}</h3>
			<!-- </a> -->
	
	  </div>
	  
	
	  <div class="col-md-5 col-xs-18">
  		  <span class="btn-group controls pull-right">
  		  	<button type="button" class="btn btn-sm btn-dark" ng-click="logout()">
				&nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
				<span class="hidden-xs">Logout</span>
			</button>
		  </span>
		  <span class="btn-group controls pull-right">
			  <button type="button" class="btn btn-sm btn-dark" ng-click="dashboard()"><span class="glyphicon glyphicon-th-list hidden-xs"></span> Dashboard</button>
			  <button type="button" class="btn btn-sm btn-dark" ng-click="addRobot()"><span class="glyphicon glyphicon-plus hidden-xs"></span> Add Robot</button>
			  <button type="button" class="btn btn-sm btn-dark" ng-click="settings()"><span class="glyphicon glyphicon-cog hidden-xs"></span> Settings</button>
		  </span>
	  </div>
	  
  		  <!-- <div class="col-md-2">
  		Notifications
		<span class="badge">{{caretaker.notifications.length}}</span>

		</div> -->
	</div>
	