<html ng-app="RobotDashboard">

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	
<link rel="stylesheet" type="text/css" href="app.css">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body ng-controller="AccountController">
	

<header ng-include="'views/header.html'" ng-controller="CareTakerController"></header>


<nav class="page-title">
	<div class="row">
		<div class="col-md-4 hidden-xs">
			<h1>Add Robot</h1>
			<p>
				Connect your robot to the cloud for continuous monitoring.
			</p>
		</div>
	</div>
	
</nav>
<section id="active-robots" ng-controller="RobotCreator">


<form class="form-horizontal" role="form" ng-model="robot">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="" ng-model="robot.name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" id="inputPassword3" placeholder="" ng-model="robot.description"></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Avatar URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="" ng-model="robot.avatar">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="addRobot()"><span class="glyphicon glyphicon-plus"></span>Add</button>
    </div>
  </div>
</form>


</section>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="libs/bootstrap.min.js"></script>
	<script src="libs/angular-local-storage.js"></script>

	<script src="js/RobotCloudDataProvider.js"></script>
	
<script src="app.js">
</script>

</body>
