h3 {text-transform:capitalize;}


body {
	margin:0px;
	padding:0px;
	padding-top:60px;
	overflow-x:hidden;
	max-width:100%;
	
}

header {
/*	opacity:0.9;*/
	z-index:9999;
	color:#FAFAFA;
	position:fixed;
	top:0;
	width:100%;

	min-height:60px;
	background: #3f3f3f;
	background: -moz-linear-gradient(top, #696969 0%, #3f3f3f 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #696969), color-stop(100%, #3f3f3f));


	background: -o-linear-gradient(top, #696969 0%, #3f3f3f 100%);
	background: -ms-linear-gradient(top, #696969 0%, #3f3f3f 100%);
	background: linear-gradient(to bottom, #696969 0%, #3f3f3f 100%);
	background: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#3f3f3f', GradientType=0 );
}

header .controls {
	padding:12px;
}

header h3 {
	float:left;
		font-weight:100;
}

#robot-overview {
	min-height:300px;
	padding:20px;
	padding-top:60px;
	color:#FFF;
/*	border:1px solid #CCC;*/
	
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 79%, rgba(0,0,0,0.65) 100%), url('/images/overview.jpg') no-repeat center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(79%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))), url('/images/overview.jpg') no-repeat center;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.65) 100%), url('/images/overview.jpg') no-repeat center;
	background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.65) 100%), url('/images/overview.jpg') no-repeat center;
	background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.65) 100%), url('/images/overview.jpg') no-repeat center;
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.65) 100%), url('/images/overview.jpg') no-repeat center;
	
/*	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(217,217,217,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);*/
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0 );*/
	
	
	
}

#robot-overview img {
	border-radius:1000px;
	max-width:180px;
	max-height:180px;
	min-width:180px;
	min-height:180px;
	float:left;
	margin-right:20px;
	border:5px solid #FFF;
/*	margin:20px;*/
}

#robot-overview h1 {
	margin-top:70px;
	text-transform:capitalize;
	font-weight:100;
	letter-spacing:0.1em;
/*	float:left;*/
}

#robot-overview p {
	text-overflow: ellipsis;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	font-weight:100;
	letter-spacing:0.1em;
}

.robot-controls {
	border-bottom:1px solid #ccc;
}

.notifications-count {
	float:right;
}

.avatar {
	margin:5px;
	border-radius:1000px;
	max-width:50px;
	max-height:50px;
	min-height:50px;
	min-width:50px;
	
	float:left;
	
	border:2px solid #FFF;
}

ul.robot-list {
	padding:0px;
	padding-left:0px;
	margin-left:0px;
	margin:0px;
}

.robot-list li {
	margin-left:0px;
	list-style: none;
	padding:20px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(217,217,217,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0 );
}

.robot-list li img {
	border-radius:1000px;
	max-width:80px;
	max-height:80px;
	min-height:80px;
	min-width:80px;
	float:left;
	margin-right:20px;
}

#batteryBody {
    float: left;
    width: 200px;
    height: 95px;
    border: 10px #CCC solid;
}
.battery {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
	height:100px;
}
.batteryEnd {
    float: left;
    height: 95px;
    width: 15px;
}
.batteryEnd div {
    width: 15px;
    height: 35px;
    margin-top: 30px;
    margin-left: 5px;
    background-color: #CCC;
}
#indicator {
    height: 100%;
    width: 50%;
}
#indicator.charging {
    background-color: #BFFF00;
}
#indicator.notCharging {
    background-color: #FFFF00;
}




.small #batteryBody {
    float: left;
    width: 30px;
    height: 15px;
    border: 1px #CCC solid;
	border-radius:2px;
}
.battery.small  {
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.small .batteryEnd {
    float: left;
    height: 95px;
    width: 15px;
}
.small .batteryEnd div {
    width: 3px;
    height: 5px;
    margin-top: 5px;
    margin-left: 1px;
    background-color: #CCC;
	border-radius:2px;
}









.robot-property {
	max-width:80%;
	margin-left:10%;
	margin-right:10%;
	-webkit-box-shadow: 1px 1px 15px 0px rgba(155,155,155, 0.75);
	-moz-box-shadow:    1px 1px 15px 0px rgba(155,155,155, 0.75);
	box-shadow:         1px 1px 15px 0px rgba(155,155,155, 0.75);
}

.property-info {
	background:#0099FF;
	color:#FFF;
}

.property-info h3 {
	padding:10px;
	font-weight:100;
	letter-spacing:0.1em;
}

.property-controls {
	background:#000;
	text-align:right;
}

.property-overview {
	margin-top:-10px;
}

.property-overview * {
	max-width:100%;
	overflow:hidden;
}

.btn-clear {
	color:#FFF;
	background:transparent;
}


.btn-dark {
	color:#FFF;
	background:#000;
}

.btn-dark:hover {
	color:#EEE;
}

.media-place-holder {
	border:1px solid #CCC;
	background-color:#FAFAFA;
	height:30%;
}