<html ng-app="RobotDashboard">

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	
<link rel="stylesheet" type="text/css" href="app.css">
<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">
</head>

<body ng-controller="AccountController">
	

<header ng-include="'views/header.html'" ng-controller="CareTakerController"></header>

<section id="active-robots" ng-controller="RobotsList">
	<!-- <div class="row"> -->
	  <!-- <div class="col-md-3"> -->
			<h3>Robots</h3>
	  <!-- </div> -->

	<!-- </div> -->
	<ul class="robot-list">
		
		<li data-ng-repeat="robot in robots" ng-click="showRobot($index)">
			<img src="{{robot.avatar}}" class="robot-avatar" />
			<h1>{{robot.name}}</h1>
			<p>
				{{robot.description}}
			</p>	
		</li>
	</ul>
</section>



<script src="libs/angular.min.js"></script>
<script src="libs/jquery-2.1.1.min.js"></script>

	<script src="libs/angular-local-storage.js"></script>
	<script src="js/RobotCloudDataProvider.js"></script>
<script src="libs/bootstrap.min.js"></script>

<script src="app.js">
</script>
</body>