<html ng-app="RobotDashboard">

<head>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">


<link rel="stylesheet" type="text/css" href="app.css">
<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">

</head>

<body ng-controller="AccountController">
	

<header ng-include="'views/header.html'" ng-controller="CareTakerController"></header>

<section id="robot-overview" ng-controller="RobotOverviewController">
<img src="{{robot.avatar}}" class="robot-avatar" />
<h1>{{robot.name}}</h1>
<p>
	{{robot.description}}
</p>	
</section>

<section class="row" ng-controller="RobotController">
	
	  <div class="col-md-9 btn-group">

		  <button type="button" class="btn btn-default" ng-click="update()"><span class="glyphicon glyphicon-plus"></span>Update</button>		  
		  <button type="button" class="btn btn-default" ng-click="remove()"><span class="glyphicon glyphicon-th-list"></span>Remove</button>
		  
	  </div>
	
</section>



	<script src="libs/angular.min.js"></script>
	<script src="libs/jquery-2.1.1.min.js"></script>

	<script src="libs/bootstrap.min.js"></script>
	<script src="libs/angular-local-storage.js"></script>
	<script src="app.js">
	</script>
</body>