<html ng-app="RobotDashboard">

<head>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">


<link rel="stylesheet" type="text/css" href="app.css">
<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">

</head>

<body ng-controller="RobotOverviewController">
<input type="hidden" ng-controller="AccountController" />

<header ng-include="'views/header.html'" ng-controller="CareTakerController"></header>

<section id="robot-overview" ng-controller="RobotOverviewController">

	<div class="row">
	  <div class="col-xs-12 col-md-8">
	  	<img src="{{robot.avatar}}" class="robot-avatar hidden-xs" />
	  	<h1>{{robot.name}}</h1>
	  	<p>
	  		{{robot.description}}
	  	</p>
  
	  </div>
	  <div class="col-xs-6 col-md-4 hidden-xs">
		  <p>
			  <h5>Unique ID</h5>
			  {{robot.id}}
		  </p>

	  </div>
	</div>
</section>

<section style="padding:15px;">


	<section class="row robot-controls" ng-controller="RobotController">
	
		  <div class="col-md-12 btn-group col-xs-18">

				  <center style="padding:10px;">
					  <button type="button" class="btn btn-default" ng-click="update()"><span class="glyphicon glyphicon-plus"></span> Update</button>
					  <button type="button" class="btn btn-default" ng-click="addProperty()"><span class="glyphicon glyphicon-plus"></span> Add Property</button>
					  <button type="button" class="btn btn-default" ng-click="remove()"><span class="glyphicon glyphicon-th-list"></span> Remove</button>
				  </center>
		  </div>
	
	</section>


	<section class="row robot-properties" ng-controller="RobotProperties">

<!--		  <div class="col-xs-12 col-md-4">

		  	<div class="robot-property">
				<div class="property-info">
					<h3>
						Camera
						<button type="button" class="btn btn-clear pull-right" ng-click="update()">
							<span class="glyphicon glyphicon-cog"></span>
						</button>
					</h3>
				</div>
				<div class="property-overview">
					<img src="http://myrobotlab.org/sites/default/files/users/user3images/orbous(2).png" />
				</div>
				<div class="property-controls" ng-include="'/views/PropertyControls.html'">
				</div>
			</div>

		  	<div class="robot-property">
				<div class="property-info">
					<h3>
						Camera
						<button type="button" class="btn btn-clear pull-right" ng-click="update()">
							<span class="glyphicon glyphicon-cog"></span>
						</button>
					</h3>
				</div>
				<div class="property-overview">
					<div class="media-place-holder"></div>
				</div>
				<div class="property-controls" ng-include="'/views/PropertyControls.html'">
				</div>
			</div>



		  </div>
		  <div class="col-xs-12 col-md-4">
		  	<div class="robot-property">
				<div class="property-info">
						<h3>
							Battery
							<button type="button" class="btn btn-clear pull-right" ng-click="update()">
								<span class="glyphicon glyphicon-cog"></span>
							</button>

						</h3>


				</div>
				<div class="property-overview">


				<div class="battery">
				    <div id="batteryBody">
				        <div id="indicator" class="charging" style="width:50%">

				        </div>
				    </div>
				    <div class="batteryEnd">
				        <div>

				        </div>
				    </div>
				</div>

				</div>
				<div class="property-controls" ng-include="'/views/PropertyControls.html'">
				</div>
			</div>
		  </div> -->
		  <div class="col-xs-12 col-md-4" style="min-height:300px;" id="{{column}}" ng-repeat="column in [1, 2, 3]" droppable drop="drop">

<div class="flip-container" id="{{property.id}}" draggable data-ng-repeat="property in robot.properties | filter:{column:column}">
	<div class="flipper">
		<div class="front">

		  	<div class="robot-property" >
				<div class="property-info">
					<h3>
						{{property.name}}
						<button type="button" class="btn btn-clear pull-right" ng-click="click(property.id)">
							<span class="glyphicon glyphicon-cog"></span>
						</button>
					</h3>
				</div>
				<div class="property-overview">
					<div ng-if="property.propertyType == 'image'">
						<img src="{{property.resourcePath}}" />
					</div>
					<div ng-if="(property.propertyType == 'remote-content')">
<iframe width="100%" height="302" src="{{trustSrc(property.resourcePath)}}" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>

						
					</div>
					<div ng-if="(property.propertyType == 'analog')">

						<meter value="{{property.data.value}}"></meter>

						<div class="row">
							<div class="col-md-6">
								<span class="min">{{property.data.min}}</span>
							</div>
							<div class="col-md-6">

								<span class="max pull-right">{{property.data.max}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="property-controls" ng-include="'/views/PropertyControls.html'">
				</div>
			</div>

		</div>
		<div class="back">
		  	<div class="robot-property" >
				<div class="property-info">
					<h3>
						{{property.name}}
						<button type="button" class="btn btn-clear pull-right" ng-click="click(property.id)">
							<span class="glyphicon glyphicon-cog"></span>
						</button>
					</h3>
				</div>
				<div class="property-overview">

					<form class="form-vertical" role="form" ng-model="robot">
						<p></p>
					  <div ng-include="'views/PropertyForm.html'" ng-controller="CareTakerController"></div>

					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-default" ng-click="updateProperty(property.id)"><span class="glyphicon glyphicon-plus"></span> Save</button>
						  
					      <button type="submit" class="btn btn-danger" ng-click="removeProperty(property.id)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
					    </div>
					  </div>
					</form>
				</div>
				<div class="property-controls" ng-include="'/views/PropertyControls.html'">
				</div>
			</div>
		</div>
	</div>
</div>

		  </div>
	
	</section>
</section>


	<script src="libs/angular.min.js"></script>
	<script src="libs/jquery-2.1.1.min.js"></script>

	<script src="libs/bootstrap.min.js"></script>
	<script src="libs/angular-local-storage.js"></script>
	<script src="js/RobotCloudDataProvider.js"></script>
	<script src="app.js">
	</script>
</body>